/**
 *  beerCard style
 *
 */

//===========/----------------------------------------------
//  [_TAB]  /  Table of Contents
//=========/------------------------------------------------
/**
 *  _TAB  Table of Contents
 *  _GEN Generic
 */

//===========/----------------------------------------------
//  [_GEN]  /  Generic
//=========/------------------------------------------------
.App {
	position: relative;
	background-color: $c-backround;
	display: flex;
	min-height: 100vh;
	align-items: stretch;
	// min-height: 1200px;	
}
