/**
 *  Main Body style
 *
 */

//===========/----------------------------------------------
//  [_TAB]  /  Table of Contents
//=========/------------------------------------------------
/**
 *
 *  _TAB  Table of Contents
 *  _GEN Generic
 */


//===========/----------------------------------------------
//  [_GEN]  /  Generic
//=========/------------------------------------------------
.project {
	padding: 200px 0 0;
	position: relative;
	h1 {
		font-size: 4.15em;
		line-height: 1.2em;
		font-family: $f-bold;
		color: $c-accent1;
		margin-bottom: 41px;
	}
	&__header {
		display: flex;
		align-items: flex-start;
		width: 100%;
		padding-bottom: 200px;
		
		@include below($tablet-width) {
			display: block;
			padding-bottom: 50px;
		}

		&--left {
			max-width: 920px;
			padding-right: 220px;
			
			@include below($tablet-width) {
				padding-right: 0px;
				padding-bottom: 40px;
			}

			h2 {
				font-size: 2.5em;
				line-height: 1.2em;
				font-family: $f-bold;
				color: $c-accent2;
				font-weight: 600;
				margin-bottom: 16px;
			}

			p {
				font-size: 2em;
				line-height: 1.2em;
				font-family: $f-default;
				color: $c-accent2;
				margin-bottom: 32px;
				@include below($tablet-width) {
					margin-bottom: 16px;
				}
			}

			a {
				display: inline-block;
				font-size: 2em;
				line-height: 1.2em;
				font-family: $f-default;
				color: $c-accent3;
			}
		}
		&--right {
			h2 {
				font-size: 2.5em;
				line-height: 1.2em;
				font-family: $f-bold;
				color: $c-accent2;
				font-weight: 600;
				margin-bottom: 16px;
			}
		}
	}

	&__colorBG {
		position: relative;
		padding: 400px 0px 200px;
		text-align: center;
		@include below($tablet-width) {
			padding-top: 100px;
			padding-bottom: 25px;
		}

		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 800px;
			top: 0;
			left: 0;
			@include below($tablet-width) {
				height: 200px;
			}
		}

		.computer {
			position: relative;
			z-index: 10;
		}

		&--1 {
			&:before {
				background-color: #292929;
			}
		}

		&--2 {
			&:before {
				background-color: #7878FA;
			}
		}

		&--3 {
			&:before {
				background-color: #E85B54;
			}
		}

		&--5 {
			&:before {
				background-color: #0E1C3D;
			}
		}
	}

	&__image {
		margin: 200px 0;
		
		@include below($tablet-width) {
			margin: 50px 0;
		}

		&:first-of-type {
			margin-top: 0;
		}
		&--golden {
			background-color: #D1B16C;
		}		

		&--black {
			background-color: #292929;
		}

		&--net1 {
			background-color: #FF7E7C;
		}

		&--net2 {
			background-color: #FFBC00;
			margin: 0;
			padding: 200px 0;
		}

		&--mtl1 {
			background-color: #F5B55E;
		}

		&--grav1 {
			background-color: #D1B16C;
		}

		&--share1 {
			background-color: #F2720D;
		}

		&--share2 {
			background-color: #98E8DE;
		}

		&--share3 {
			background-color: #0E1C3D;
		}


		img {
			//TODO padding mobile
			display: block;
			max-width: 1374px;
			width: 100%;
			margin: 0 auto;
		}
	}

	.socials-wrapper {
		padding-top: 100px;
		.next-project { 
			font-size: 4.15em;
			line-height: 1.2em;
			margin-bottom: 100px;
			text-align: center;
			color: $c-accent3;
			font-family: $f-bold;
		}
		@include below($tablet-width) {
			padding-top: 50px;
		}
	}
}