/**
 *  Main SASS Variables
 *
 */

//===========/----------------------------------------------
//  [_TAB]  /  Table of Contents
//=========/------------------------------------------------
/**
 *  @author vcroteau
 *
 *  _TAB  Table of Contents
 *  _VAR Variables
 */

@font-face {
    font-family: "PPWoodland";
    src: url('static/fonts/PPWoodland-Bold.eot');
    src: url('static/fonts/PPWoodland-Bold.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('static/fonts/PPWoodland-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('static/fonts/PPWoodland-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('static/fonts/PPWoodland-Bold.ttf')  format('truetype')
}

@font-face {
    font-family: "NeueMontreal";
    src: url('static/fonts/NeueMontreal-Regular.eot');
    src: url('static/fonts/NeueMontreal-Regular.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('static/fonts/NeueMontreal-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('static/fonts/NeueMontreal-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('static/fonts/NeueMontreal-Regular.ttf')  format('truetype')
}


@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");

//===========/----------------------------------------------
//  [_VAR]  /  Variables
//=========/------------------------------------------------
$f-fallback: "Helvetica", "Arial", sans-serif;
$f-default: "NeueMontreal", $f-fallback;
$f-bold: "PPWoodland", $f-fallback;
$f-pogo: "Lato", $f-fallback;

