
/**
 *  Main SASS Variables
 *
 */

//===========/----------------------------------------------
//  [_TAB]  /  Table of Contents
//=========/------------------------------------------------
/**
 *  @author vcroteau
 *
 *  _TAB  Table of Contents
 *  _GRD  Grid
 *  _COL  Colors
 *  _SIZ  Sizes
 *  _ZID  Z-index
 *  _TRS  Transitions
 */


//===========/----------------------------------------------
//  [_GRD]  /  Grid
//=========/------------------------------------------------
$l-desktop-width: 1920px;
$desktop-width: 1366px;
$tablet-width:  1024px;

//Lost Grid options
@lost gutter 32px;
@lost flexbox flex;
@lost cycle auto;
@lost clearing both;


//===========/----------------------------------------------
//  [_COL]  /  Colors
//=========/------------------------------------------------
$c-primary: #262729;
$c-secondary: #62B594;
$c-green: #5CB85C;

$c-background: #F1FFFB;
$c-border: #FFFFFF;


//===========/----------------------------------------------
//  [_SIZ]  /  Sizes
//=========/------------------------------------------------
$s-container: 1256px;
$s-container-pad: 20px;


//===========/----------------------------------------------
//  [_ZID]  /  Z-index
//=========/------------------------------------------------
$z-header: 100;
$z-headerMenu: 1000;
$z-scrollMenu: 900;
$z-sidebar: 1100;
$z-popup: 9000;


//===========/----------------------------------------------
//  [_TRS]  /  Transitions
//=========/------------------------------------------------
$ts-default: all 450ms ease-in-out;
$ts-fast: all 300ms ease-in-out;