/**
 * Page Layout
 */

* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

html {
    -webkit-tap-highlight-color: transparent;
    &.menuIsOpen {
        overflow: hidden;
        position: fixed;
    }
}

body {
    min-height: 100%;
    padding: 15px;
    margin: 0;
    background-color: $c-background;
    border: 15px solid $c-border;
    font-family: $f-default;

    @include above($tablet-width) {
        border: 25px solid $c-border;
        padding: 25px;
    }

    @include above($desktop-width) {
        border: 40px solid $c-border;
    }


    .main-container {
        margin: 0 auto;
    }
}

.limiter {
    padding: 0 30px;
    @include desktop() {
        max-width: 1260px;
        margin: 0 auto;
    }

    @media (max-width: 1260px) and (min-width: 768px) {
        max-width: 1260px;
        padding: 0 60px;
    }

    @media (min-width: 1261px) {
        max-width: 1260px;
    }
}