/**
 *  Home page Style
 *
 */

//===========/----------------------------------------------
//  [_TAB]  /  Table of Contents
//=========/------------------------------------------------
/**
 *  @author vcroteau
 *
 *  _TAB  Table of Contents
 *  _GEN  General
 */

//===========/----------------------------------------------
//  [_GEN]  /  General
//=========/------------------------------------------------

.content__limiter {
    position: relative;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;

    @include above(700px) {
        width: 620px;
        margin: 0 auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    @include above($desktop-width) {
        width: 620px;
        margin: 0 auto;
    }

    @include above($l-desktop-width) {
    }
}

.title {
    font-size: 32px;
    line-height: 32px;
    font-family: $f-bold;
    margin-bottom: 16px;
    opacity: 0;
    animation: fade-in 1s 0s ease-in-out forwards;

    @include above($tablet-width) {
        font-size: 45px;
        line-height: 53px;
    }

    @include above($desktop-width) {
        font-size: 60px;
        line-height: 67px;
    }

    a {
        color: $c-primary;;
        text-decoration: none;
        position: relative;
        overflow: hidden;

        &::after {
            content: "";
            background: rgba(125,131,255,0.15);
            position: absolute;
            left: 11px;
            bottom: 10px;
            width: calc(100% - 8px);
            height: calc(100% - 60px);
            z-index: -1;
            -webkit-transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
            transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);

             @include below($desktop-width) {
                height: calc(100% - 40px);
                bottom: 6px;
            }

            @include below($tablet-width) {
                left: 13px;
                bottom: 0px;
                height: calc(100% - 20px);
            }
        }

        &:hover:after {
            left: 0;
            bottom: 4px;
            width: 100%;
            height: 82%;
          }
        // background: linear-gradient(to bottom, $c-primary 0%, $c-primary 100%);
        // background-position: 0 60%;
        // background-repeat: repeat-x;
        // background-size: 3px 3px;

        // &:hover {
        //     @include above($desktop-width) {
        //         background-position: 0 60%;
        //         background-size: auto 6px;
        //         background-repeat: repeat-x;
        //         text-decoration: none;
        //     }
        // }
        
    }
}

.name {
    margin-bottom: 24px;
    font-family: $f-bold;
    font-size: 24px;
    line-height: 32px;
    opacity: 0;
    animation: fade-in 1s 0ms ease-in-out forwards;

    @include above($tablet-width) {
        font-size: 32px;
        line-height: 38px;
    }

    @include above($desktop-width) {
        font-size: 32px;
        line-height: 38px;
    }
}

p {
    font-family: $f-default;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 15px;
    opacity: 0;
    animation: fade-in 1s 0ms ease-in-out forwards;

    @include above($tablet-width) {
        margin-bottom: 25px;
    }

    @include above($desktop-width) {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 32px;
    }

    i {
        font-style: italic;
    }

    .link {
        color: #7d83ff;
        text-decoration: none;
        position: relative;
        overflow: hidden;

        &::after {
            content: "";
            background: rgba(125,131,255,0.15);
            position: absolute;
            left: 12px;
            bottom: -2px;
            width: calc(100% - 8px);
            height: calc(100% - 8px);
            z-index: -1;
            -webkit-transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
            transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
           
            // @include below($desktop-width) {
            //     height: calc(100% - 40px);
            //     bottom: 6px;
            // }

            // @include below($tablet-width) {
            //     left: 13px;
            //     bottom: 0px;
            //     height: calc(100% - 20px);
            // }
           
        }


        &:hover:after {
            left: 0;
            bottom: 0px;
            width: 100%;
            height: 100%;
          }
        // font-family: $f-default;
        // background: linear-gradient(to bottom, #7d83ff 0%, #7d83ff 100%);
        // background-position: 0 20px;
        // padding-bottom: 15px;
        // background-repeat: repeat-x;
        // background-size: 2px 2px;
        // text-decoration: none;

        // @include above($tablet-width) {
        //     background-position: 0 22px;
        // }

        // @include above($desktop-width) {
        //     background-position: 0 26px;
        // }

        // &:hover {
        //     @include above($desktop-width) {
        //         background-position: 0 24px;
        //         background-size: auto 4px;
        //         background-repeat: repeat-x;
        //         text-decoration: none;
        //     }
        // }
    }

    .squiggle {
        animation: shift 0.3s linear infinite;
    }

    @keyframes shift {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-20px);
        }
    }

    .cross-line {
        position: relative;
        display: inline-block;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            left: 0;
            right: 0;
            height: 2px;
            top: 55%;
            transform: translateY(-50%);
            background-color: $c-primary;
        }
    }
}

.social {
    display: flex;
    align-items: center;
    padding-top: 8px;
    opacity: 0;
    animation: fade-in 1s 0ms ease-in-out forwards;

    @include above($desktop-width) {
        padding-top: 24px;
    }

    &__icon {
        margin-right: 18px;
        width: 24px;
        transition: all 250ms ease-in-out;

        svg {
            width: 24px;
            height: 24px;
        }

        &:hover {
            opacity: 0.5;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
