/**
 *  Main Body style
 *
 */

//===========/----------------------------------------------
//  [_TAB]  /  Table of Contents
//=========/------------------------------------------------
/**
 *
 *  _TAB  Table of Contents
 *  _GEN Generic
 */


//===========/----------------------------------------------
//  [_GEN]  /  Generic
//=========/------------------------------------------------
html, body {
    height: 100%;
	scroll-behavior: smooth;
    background: #E5E5E5;
}

html {
    scroll-behavior: smooth;
    margin: 0 !important;

	@media screen and (max-width: 1600px) {
		font-size: calc(8px + (16 - 8) * ((100vw - 320px) / (1600 - 320)));
	}

	@include below(360px) {
		font-size: calc(6px + (16 - 6) * ((100vw - 320px) / (1600 - 320)));
	}
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    font-size: percentage($base-font-size / 16px);
    font-weight: 400;
    font-family: $f-default;
    overflow-x: hidden;
    background-size: cover;
    text-align: left;
    background-color: $c-background;
    color: $c-white;
    height: 100%;
    position: relative;

    &.noscroll {
        overflow: hidden;
    }

	&::-webkit-scrollbar {
		width: 0.5em;
		height: 0.5em;
		background: $c-background;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $c-accent3;
		border-radius: 3px;
		// border: 2px solid  $c-accent2;
	}
}

main {
    position: relative;
}

.main-block {
	background-color: $c-background;
}

.content-wrapper {
	max-width: 1474px;
	padding: 0 50px;
	margin: 0 auto;
	@include below($tablet-width) {
		padding: 0 15px;
	}
}

.externalLinks {
	text-decoration: none;
	position: relative;
	color: $c-accent3;	
	font-family: $f-default;

	&:hover {
		&:after {
			transform: translateY(5px);
		}
		svg {
			transform: translate( 5px, -5px);
		}
	}

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: $c-accent3;
		transition: transform 250ms ease-in-out;
	}

	svg {
		position: absolute;
		transition: transform 250ms ease-in-out;
		right: -35px;

		@include below($tablet-width) {
			right: -15px;
			top: -10px;
			max-width: 15px;
		}

		path{
			fill: $c-accent3;
		}
	} 
}

#mainScroll {
	background-color: $c-background;
}
//===========/----------------------------------------------
//  [_MED]  /  Medias
//=========/------------------------------------------------
img {
    max-width: 100%;
    width: auto;
}


ul {
	li {
		font-size: 2em;
		line-height: 1.2em;
		font-family: $f-default;
		color: $c-accent2;
		margin-bottom: 15px;
		padding-left: 37px;
		position: relative;
		@include below($mobile-width) {
			padding-left: 15px;
		}

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 19px;
			width: 15px;
			height: 15px;
			transform: translateY(-50%);
			border: 2px solid $c-accent1;
			border-radius: 50%;
			@include below($mobile-width) {
				top: 10px;
				width: 7px;
				height: 7px;
			}

		}
	}
}


[data-aos="in-view"] {
	.aos {
		&__mask {
			overflow: hidden;
			position: relative;
		}
		&__content {
			position: relative;
			transform-origin: 0 0;
			transition: all 1s ease-in-out;
			transform: translateY(100%) rotate(5deg);
		}
		&__images {
			position: relative;
			transform-origin: 0 0;
			transition: all 1s ease-in-out;
			transform: translateY(25%);
			opacity: 0;
		}
	}
	&.aos-animate {
		.aos__images {
			transform: translateY(0);
			opacity: 1;
		}

		.aos__content {			
			transform: translateY(0) rotate(0);
		}
	}
}