/**
 *  Main SASS Variables
 *
 */

//===========/----------------------------------------------
//  [_TAB]  /  Table of Contents
//=========/------------------------------------------------
/**
 *
 *  _TAB    Table of Contents
 *  _VAR    Variables
 *  _SIZ    Font Sizes
 */


 @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

//===========/----------------------------------------------
//  [_VAR]  /  Variables
//=========/------------------------------------------------

$f-fallback: Arial, sans-serif;
$f-default: "Heebo", $f-fallback;

//===========/----------------------------------------------
//  [_SIZ]  /  Font Sizes
//=========/------------------------------------------------
$base-font-size : 16px;
