/**
 *  Main SASS Variables
 *
 */

//===========/----------------------------------------------
//  [_TAB]  /  Table of Contents
//=========/------------------------------------------------
/**
 *
 *  _TAB    Table of Contents
 *  _VAR    Variables
 *  _SIZ    Font Sizes
 */


 @font-face {
    font-family: "NeueMontreal";
    src: url("../../fonts/NeueMontreal-Regular.woff2") format("woff2"),
         url("../../fonts/NeueMontreal-Regular.woff") format("woff");
} 

@font-face {
    font-family: "PPWoodland-Bold";
    src: url("../../fonts/PPWoodland-Bold.woff2") format("woff2"),
         url("../../fonts/PPWoodland-Bold.woff") format("woff");
}

//===========/----------------------------------------------
//  [_VAR]  /  Variables
//=========/------------------------------------------------

$f-fallback: Arial, sans-serif;
$f-default: "NeueMontreal", $f-fallback;
$f-bold: "PPWoodland-Bold", $f-fallback;

//===========/----------------------------------------------
//  [_SIZ]  /  Font Sizes
//=========/------------------------------------------------
$base-font-size : 16px;
