/**
 *  Main SASS Variables
 *
 */

//===========/----------------------------------------------
//  [_TAB]  /  Table of Contents
//=========/------------------------------------------------
/**
 *
 *  _TAB    Table of Contents
 *  _VAR    Variables
 *  _SIZ    Font Sizes
 */
 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

 @font-face {
    font-family: "NeueMontreal";
    src: url("../../fonts/NeueMontreal-Regular.woff2") format("woff2"),
         url("../../fonts/NeueMontreal-Regular.woff") format("woff");
} 

@font-face {
    font-family: "PPWoodland-Bold";
    src: url("../../fonts/PPWoodland-Bold.woff2") format("woff2"),
         url("../../fonts/PPWoodland-Bold.woff") format("woff");
}

@font-face {
    font-family: "PPWoodland-Regular";
    src: url("../../fonts/PPWoodland-Regular.woff2") format("woff2"),
         url("../../fonts/PPWoodland-Regular.woff") format("woff");
}

@font-face {
    font-family: "Agrandir-GrandHeavy";
    src: url("../../fonts/Agrandir-GrandHeavy.woff2") format("woff2"),
         url("../../fonts/Agrandir-GrandHeavy.woff") format("woff");
}
 
//===========/----------------------------------------------
//  [_VAR]  /  Variables
//=========/------------------------------------------------

$f-fallback: Arial, sans-serif;
$f-default: "PPWoodland-Regular", $f-fallback;
$f-bold: "Agrandir-GrandHeavy", $f-fallback;

//===========/----------------------------------------------
//  [_SIZ]  /  Font Sizes
//=========/------------------------------------------------
$base-font-size : 16px;
